.place {
	display: grid;
	grid-template-columns: fit-content(460px) 1fr;
	grid-template-rows: min-content 1fr;
	gap: 48px 40px;
}

.place:not(:last-child) {
	margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
	
	.place {
		gap: 48px 32px;
		grid-template-columns: fit-content(440px) 1fr;
	}
}

@media screen and (max-width: 1023px) {
	
	.place {
		gap: 48px 28px;
		grid-template-columns: fit-content(340px) 1fr;
	}

	.place:not(:last-child) {
		margin-bottom: 73px;
	}
}

@media screen and (max-width: 767px) {
	
	.place {
		row-gap: 32px;
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: min-content;
	}

	.place:not(:last-child) {
		margin-bottom: 50px;
	}
}
