.content__section-margin {
	margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
	
	.content__section-margin {
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 767px) {
	
	.content__section-margin {
		margin-bottom: 64px;
	}
}
